body {
	padding: 0 10px;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: royalblue;
}

#div_left {
	padding: 10px;
	background-color: white;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	margin: 5px 0 5px 10px;
}

#div_left > img {
	height: 60px;
	width: 60px;
}

#div_right {
	display: flex;
	justify-content: center;
	align-items: center;
}

#div_right > a {
	display: inline-block;
	padding: 10px;
	height: auto;
	width: 50px;
	background: white;
	margin-right: 15px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	color: royalblue;
}

#div_right > a:hover {
	color: white;
	background-color: cadetblue;
}
